<% provide(:title, "Admin Home") %>

<h1>Admin Home</h1>

<h1>Class Portal Admin Home</h1>
<p class="big_size">


<p>
  Select what you would like to do below.
</p>

<p><%= link_to "Add Instructor", new_instructor_path, class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "Add Course", new_course_path, class: "btn btn-lg btn-primary" %></p>

<p><%= link_to "View Courses", viewCourse_path, class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "View Students", students_url, class: "btn btn-lg btn-primary" %></p>

<p><%= link_to "View all grades", grades_url, class: "btn btn-lg btn-primary" %></p>
