   
<div class="container">
        <h3>Name</h3>
           <b><%= @course.title %></b>
        <h4>Description</h4>
            <p><%= @course.description %></p>
        <h4>Instructor</h4>
            <p><%= @course.instructor %></p>

 <% if current_user.type == "Admin" || current_user.type == "SuperAdmin" %>
        <p><%= link_to('Edit', controller: 'courses', action:'edit', id: @course.id , class: "btn btn-lg btn-primary")  %> <p>
        <p><%= link_to "Delete", id: @course.id, method: :delete, class: "btn btn-lg btn-primary", data: { confirm: "You sure?" }  %><p>
    <% end %>

<% if current_user.type == "Student"%>
 <p><%= link_to('Request Enrollment',  enroll_course_path(id: @course.id) , class: "btn btn-lg btn-primary", data: { confirm: "Are you sure you want to request an enrollment for this course?" }) %> </p>
        <% end %>


<% if current_user.type == "Instructor"%>
 <p><%= link_to('Request Enrollment',  enroll_course_path(id: @course.id) , class: "btn btn-lg btn-primary") %> </p>
        <% end %>
        
        
</div>



<!--data: { confirm: "Are you sure you want to request an enrollment for this course?" }-->