<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Course Number</th>
        <th>Title</th>
        <th>Instructor</th>
        <th>Status</th>
        <th>Enroll</th>
    
      </tr>
    </thead>
  
  <div class="course">

    <% @course.each do |course| %>
      
      <tr>
        <td><%= link_to(course.number,course , controller: 'courses' , action: 'show') %></td>
        <td><%= course.title %></td>
        <td><%= course.instructor %></td>
        <td><%= course.status %></td>
        <td><%= link_to 'Request enrollment', "courses/#{course.id}/requestEnrollment" %><td>
        </tr>

  <% end %>
</div>

</table>  

</div>