
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Course Number</th>
        <th>Title</th>
        <!--<th>Description</th>-->
        <th>Instructor</th>
        <!--<th>Start Date</th>-->
        <!--<th>End Date</th>-->
        <th>Course Status</th>
        <% if current_user.type == "Admin" || current_user.type == "SuperAdmin" || current_user.type == "Instructor" %>
          <th>Students</th>
        <% end %>
        <% if current_user.type == "Admin" || current_user.type == "SuperAdmin" %>
          <th>Edit</th>
          <th>Delete</th>
        <% end %>
        <% if current_user.type == "Student" %>
         <th>Enrollment Status</th>
         <th>Action</th>
        <% end %>
      </tr>
    </thead>
    
    <% @course.each do |course|%>
    <% @student_course = StudentCourse.where("student_id = ?", current_user.id).where("course_id = ?", course.id).first %>
    <tbody>
      <tr>
        <td><%= link_to(course.number,course , controller: 'courses' , action: 'show') %></td>
        <td><%= course.title %></td>
        <!--<td><%= course.description %></td>-->
        <td><%= course.instructor %></td>
        <!--<td><%= course.start_date %></td>-->
        <!--<td><%= course.end_date %></td>-->
        <% if current_user.type == "Instructor" && current_user.name == course.instructor && course.status.casecmp("active").zero? && course.requestedInactive == false %>
          <td><%= course.status %> <%= link_to('(Request Inactive)', "/courses/#{course.id}/requestInactive") %></td>
        <% elsif (current_user.type == "SuperAdmin" || current_user.type == "Admin") && course.status.casecmp("active").zero? && course.requestedInactive == true %>
          <td><%= course.status %> (Request received to make inactive) </td>
        <% else %>
          <td><%= course.status %></td>
        <% end %>
        <% if current_user.type == "Admin" || current_user.type == "SuperAdmin" || current_user.type == "Instructor" %>
          <td><%= link_to('View students', "/courses/#{course.id}/students")  %></td>
        <% end %>
        <% if current_user.type == "Admin" || current_user.type == "SuperAdmin" %>
        <td><%= link_to('Edit', controller: 'courses', action:'edit', id: @course.ids)  %> </td>
        <td><%= link_to "Delete", course, method: :delete, data: { confirm: "You sure?" }  %></td>
         <% end %>
        <% if current_user.type == "Student"%>
          <% if !@student_course.nil? %>
            <% if @student_course.enrolled %>
              <td>Enrolled</td>
              <td><%= link_to 'Drop', "courses/#{course.id}/drop", data: { confirm: 'Are you sure?'} %></td>
            <% elsif @student_course.requested %>
              <td>Waiting on approval</td>
              <td>N/A</td>
            <% else %>
             <td>Not Enrolled</td>
             <% if course.status.casecmp("inactive").zero? %>
               <td>Can't enroll, course inactive<td>
             <% else %> 
               <td><%= link_to 'Request enrollment', "courses/#{course.id}/requestEnrollment" %><td>
             <% end %>
          <% end %>
          <% else %>
            <td>Not Enrolled</td>
             <% if course.status.casecmp("inactive").zero? %>
               <td>Can't enroll, course inactive<td>
             <% else %> 
          
               <td><%= link_to 'Request enrollment', "courses/#{course.id}/requestEnrollment" %><td>
             <% end %>
          <% end %>
        <% end %>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>